parameters:
    includes:
        - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon

    ignoreErrors:
        # Symfony configuration builder's return types are a bit messy
        - '#Cannot call method arrayNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'
